*{
    box-sizing: border-box;
}
/* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */

body{
    font-family: 'Courier New', Courier, monospace;
    background: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;


}



.nav-container{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    align-items: center;
}

.nav-container  h1{
   font-size: 2rem;
   color: #7151a8;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    letter-spacing: 4px;
}

.nav-container  h1 span{
color: #7655b9;


}

.nav-container ul{
    display: flex;
}

.nav-container ul li{
   position: relative;
   list-style: none; 
   font-size: 1.6rem;
   font-weight: 400;
   color: #7655b9;
   padding: 12px 18px;
  cursor: pointer;
  pointer-events: all;
  transition: .3s;
  overflow: hidden;

}


.nav-container ul li::after{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0%;
    height: 3px;
    left: 50%;
    background: #00bfff;
    transform: translateX(-50%);
    transition: .3s;
}



.nav-container ul li:hover{
color: #00bfff;
}

.nav-container ul li:hover::after{
    width: 80%;
}

.bgAnimation{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: repeat(20,1fr);
   grid-template-rows: repeat(20,1fr);
   background: #1d1d1d;
   filter: saturate(2);
   overflow: hidden; 
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d; 
}

.colorBox:hover{
  background: #00bfff;
  transition: 0s;

}

.backgroundAnim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;


}



@keyframes animBack{
   0%{
    top: -60px;

   } 

   100%{
    top: 120%;
   }
}

.container{
    display:flex;
    width: 90vw;
    backdrop-filter: blur(1px);
   

}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 70px;
    color: rgb(91, 52, 198);
    cursor: pointer;
    flex:0.5;
    margin: 10px;
   position: relative;
   transition: flex 0.5s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}


.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    
}


@media(max-width:480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5){
         display: none;
    }
}


/* Any dout */
/* https://github.com/nikeshnikesh5/JavaScriptMiniProjects.git */